{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": false,
      "modules": "commonjs"
    }],
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
