[submodule "src/jquery"]
	path = src/jquery
	url = https://github.com/jquery/jquery.git
[submodule "src/requirejs"]
	path = src/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "src/rjs"]
	path = src/rjs
	url = https://github.com/jrburke/r.js.git
[submodule "src/threejs"]
	path = src/threejs
	url = https://github.com/mrdoob/three.js.git
[submodule "src/mustachejs"]
	path = src/mustachejs
	url = https://github.com/janl/mustache.js.git
[submodule "src/tweenjs"]
	path = src/tweenjs
	url = https://github.com/sole/tween.js.git
