[submodule "src/jquery"]
	path = src/jquery
	url = https://github.com/jquery/jquery.git
[submodule "src/three.js"]
	path = src/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "src/mustache.js"]
	path = src/mustache.js
	url = https://github.com/janl/mustache.js.git
[submodule "src/requirejs"]
	path = src/requirejs
	url = https://github.com/jrburke/requirejs.git
