[submodule "sub/jquery"]
	path = sub/jquery
	url = https://github.com/jquery/jquery.git
[submodule "sub/threejs"]
	path = sub/threejs
	url = https://github.com/mrdoob/three.js.git
[submodule "sub/mustachejs"]
	path = sub/mustachejs
	url = https://github.com/janl/mustache.js.git
[submodule "sub/tweenjs"]
	path = sub/tweenjs
	url = https://github.com/sole/tween.js.git
[submodule "sub/stimpackjs"]
	path = sub/stimpackjs
	url = https://github.com/mhluska/Stimpack
