body {
    padding-top: 100px;
}

.food, .snake {
    position: absolute;
    display: none;
}

.snake {
    background-color: #7b92ee;
    z-index: 1;
}

.food {
    background-color: #9afc77;
    display: none;
    z-index: 0;
}

#grid {
    background-color: #dfe4f9;
    position: relative;
    margin: 0 auto;
}
