.food, .snake {
    position: absolute;
}

.snake {
    background-color: #7b92ee;
    z-index: 1;
}

.food {
    background-color: #9afc77;
    z-index: 0;
}

#game {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 600px;
}
