body {
    padding-top: 100px;
}

.food, .snake {
    position: absolute;
}

.snake {
    background-color: #7b92ee;
    z-index: 1;
}

.food {
    background-color: #9afc77;
    z-index: 0;
}

#game {
    background-color: #dfe4f9;
    position: relative;
    margin: 0 auto;
}
