<div class="about">
    <h1 class="name">
        <a href="http://mhluska.com" target="_blank">maros hluska</a>
    </h1>
    <span class="location">waterloo, on</span>
    <a class="display-pic" href="http://mhluska.com" target="_blank">
        <img
        src="http://www.gravatar.com/avatar/1ab1724c7f4e99d322f766f71631c023?s=100" />
    </a>

    <ul class="menu">
        <li>
            <a href="/resume" target="_blank">resume</a>
        </li>
        <li class="disabled">
            <a>demos</a>
        </li>
        <li class="disabled">
            <a>blog</a>
        </li>
    </ul>

    <div class="info">
        Hey there! I'm still building this webpage. In the mean time,
        try out the demo or check me out on 
        <a href="https://github.com/mhluska" target="_blank">GitHub</a> and 
        <a href="http://ca.linkedin.com/in/mhluska" target="_blank">LinkedIn</a>.
    </div>
    <div class="social-icons">
        <a href="https://github.com/mhluska">
            <img src="{{ url_for('static', filename='images/icons/github.png') }}"/>
        </a>
        <a href="http://www.linkedin.com/in/mhluska" target="_blank">
            <img src="{{ url_for('static', filename='images/icons/linkedin.png') }}" />
        </a>
        <a href="https://twitter.com/mhluska" target="_blank">
            <img src="{{ url_for('static', filename='images/icons/twitter.png') }}" />
        </a>
        <a href="http://stackoverflow.com/users/659910/maros-hluska" target="_blank">
            <img src="{{ url_for('static', filename='images/icons/stackoverflow.png') }}" />
        </a>
    </div>
</div>
