<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='snake.css') }}" />
        <script src="{{ url_for('static', filename='require.js') }}" ></script>
        <script src="{{ url_for('static', filename='detector.js') }}" ></script>
        <script src="{{ url_for('static', filename='game.js') }}" ></script>
    </head>
    <body>
        <div id="game"></div>
        <script src="{{ url_for('static', filename='snake.js') }}" ></script>
    </body>
</html>
